appnope==0.1.0
attrs==17.4.0
certifi==2018.1.18
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
coverage==4.4.2
decorator==4.2.1
Django==2.0.1
django-cachalot==1.5.0
django-cleanup==2.1.0
django-cors-headers==2.1.0
django-debug-toolbar==1.9.1
django-environ==0.4.4
django-filter==1.1.0
django-model-utils==3.1.1
django-redis==4.8.0
django-stdimage==3.0.0
django-taggit==0.22.2
django-taggit-serializer==0.1.5
djangorestframework==3.7.7
flake8==3.5.0
flake8-commas==1.0.0
flake8-isort==2.3
flake8-polyfill==1.0.2
flake8-print==3.0.1
flake8-quotes==0.13.0
idna==2.6
ipdb==0.10.3
ipython==6.2.1
ipython-genutils==0.2.0
isort==4.2.15
itypes==1.1.0
jedi==0.11.1
Jinja2==2.10
MarkupSafe==1.0
mccabe==0.6.1
mypy==0.560
parso==0.1.1
pep8-naming==0.5.0
pexpect==4.3.1
pickleshare==0.7.4
Pillow==5.0.0
pluggy==0.6.0
progressbar2==3.34.3
prompt-toolkit==1.0.15
psutil==5.4.3
psycopg2==2.7.3.2
ptyprocess==0.5.2
py==1.5.2
pycodestyle==2.3.1
pyflakes==1.6.0
Pygments==2.2.0
pytest==3.3.2
pytest-cov==2.5.1
pytest-django==3.1.2
python-utils==2.2.0
pytz==2017.3
raven==6.5.0
redis==2.10.6
requests==2.18.4
simplegeneric==0.8.1
six==1.11.0
sqlparse==0.2.4
testfixtures==5.4.0
traitlets==4.3.2
typed-ast==1.1.0
uritemplate==3.0.0
urllib3==1.22
uWSGI==2.0.15
wcwidth==0.1.7
